/* Stile generale per il corpo della pagina */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 100px; 
}

/* Stile per la navbar */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1000; 
}

.navbar-brand img {
    max-height: 100px; 
}

.navbar-nav .nav-link {
    color: #333333;
}

.navbar-nav .nav-link:hover {
    color: #28a745;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #28a745;
}

/* Barra di ricerca */
.search-bar-container {
    display: flex;
    flex-grow: 1;
    width: 100%; 
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-color: none;
}

.search-bar-container form {
    display: flex;
    width: 60%; 
    max-width: 60%; 
    border: none;
    background-color: transparent;
    margin: 0; 
}

.search-bar-container input {
    flex-grow: 1;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-right: none;
    padding: 5px; 
    border-radius: 5px 0 0 5px;
    width: 85%;
    max-width: 85%; 
    background-color: #ffffff;
}

.search-bar-container button {
    font-size: 1.1rem; 
    width: 10%; 
    max-width: 100px; 
    min-width: 50px; 
    padding: 5px; 
    border-radius: 0 5px 5px 0;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
}

/* Aggiungi una regola per schermi molto piccoli */
@media (max-width: 576px) {
    .search-bar-container button {
        font-size: 0.9rem; 
        width: auto; 
    }
}

/* Stile per i bottoni delle categorie */
.category-box {
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    margin: 5px;
    display: inline-block;
}
.category-box:hover {
    box-shadow: 0 0 10px var(--hover-color);
    color: var(--hover-color);
}

/* Stile per i pulsanti */
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}

/* Stile per il carosello */
.carousel-item img {
    height: 400px;
    object-fit: cover;
}

/* Stile per le carte dei prodotti */
.card {
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease; 
}

.card:hover {
    border-color: #007bff; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666666;
}

.card .btn {
    color: #28a745; 
    border: 1px solid #28a745; 
    background-color: #ffffff; 
    transition: all 0.3s ease; 
}

.card .btn:hover {
    color: #ffffff; 
    background-color: #007bff; 
    border-color: #007bff; 
}

/* Stile per la pagina del carrello */
#carrello-body tr {
    border-bottom: 1px solid #e0e0e0;
}

#totale-carrello {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

/* Stile per i form di accesso e registrazione */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

form h1 {
    margin-bottom: 20px;
}

/* Stile per i campi di input */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #ffffff; 
    color: #000000; 
    transition: box-shadow 0.3s ease; 
}

form input[type="text"]:hover,
form input[type="password"]:hover {
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.5); 
    background-color: #ffffff;
    outline: none; 
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.5); 
    outline: none; 
    background-color: #ffffff; 
    color: #000000; 
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* Stile per il divisorio verticale */
.vertical-divider {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
    align-self: center;
}

.vertical-divider-tall {
    height: 40px; /* Altezza maggiore rispetto agli altri divisori */
    background-color: #aaa; /* Puoi personalizzare il colore se necessario */
}

/* Stile per il footer */
body.login .footer,
body.register .footer,
body.prodotto .footer,
body.mio_account .footer,
body.contatti .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.search .footer,
body.erboristeria .footer,
body.skincare .footer,
body.integratori .footer,
body.farmaci_generici .footer,
body.prodotti_espozione .footer,
body.erboristeria .footer,
body.carrello .footer{
    display: flex;
    bottom: 0;
    width: 100%;
}

body.search-fixed-footer .footer,
body.erboristeria-fixed-footer .footer,
body.skincare-fixed-footer .footer,
body.integratori-fixed-footer .footer,
body.farmaci_generici-fixed-footer .footer,
body.prodotti_esposizione-fixed-footer .footer,
body.erboristeria-fixed-footer .footer,
body.carrello-fixed-footer .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*carrello*/
.total-container {
    margin-top: 20px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
}
.order-button {
    margin-top: 10px;
    text-align: right;
}