<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/views/index.ejs">
            <img src="logo.jpeg" width="100" alt="BeSure Farmacia">
        </a>
        <!--ricerca -->
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Ricerca" aria-label="Ricerca">
            <button class="btn btn-outline-success" type="submit">Cerca</button>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Attiva/disattiva la navigazione">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="ritiro.html">Prenota un ritiro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contatti.html">Chi siamo?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catalogo Prodotti
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="erboristeria.html">Erboristeria</a></li>
                        <li><a class="dropdown-item" href="farmaci_generici.html">Farmaci generici</a></li>
                        <li><a class="dropdown-item" href="skincare.html">Skincare</a></li>
                        <li><a class="dropdown-item" href="integratori.html">Integratori</a></li>
                        <li><a class="dropdown-item" href="prodotti_esposizione.html">Prodotti esposizione</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="catalogo.html">Catalogo completo</a></li>
                    </ul>
                </li>
            </ul>

            <!--account -->
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                    <li><a href="/mio_account"><button type="button" class="btn btn-outline-success">Il mio account</button></a></li>
                    <li><a href="/logout"><button type="button" class="btn btn-outline-danger">Logout</button></a></li>
                <% } else { %>
                    <li><a href="registrazione.html"><button type="button" class="btn btn-outline-success">Registrati</button></a></li>
                    <li><a href="accesso.html"><button type="button" class="btn btn-outline-success">Accedi</button></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>